@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@400;500;600&family=Oxygen&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'; 
}
